<div class="container">

    <div *ngFor="let player of players" class="players" >
      <div class="skill-container">
        <div class="skill">
          <span>{{player.skill}}</span>
        </div>
      </div>
      <br><br>
      
      <img width="210" height="210" src="{{player.avatar}}"  alt=""> 
       
      <div  class="name">
        <label class="nameplayer" for="nome"> {{player.name}}</label>
        
        <div class="card">
          <div class="left">PAS: {{player.pass}}</div>
          <div class="right">DEF: {{player.defense}}</div>
        </div>
        <div class="card">
          <div class="left">VEL: {{player.speed}}</div>
          <div class="right">DRI: {{player.dri}}</div>
        </div>
        <div class="card">
          <div class="left">CHT: {{player.shoting}}</div>
          <div class="right">HAB: {{player.skill}}</div>
        </div>     
     </div>
    </div>
  </div>
  